@font-face {
  font-family: Infected;
  src: url("public/covid-infected.otf") format("opentype");
}
main, footer {
  font-family: 'Catamaran';
  margin: 0 auto;
  max-width: 800px;
  padding: 1em;
}
footer {
  border-top:1px dotted black;
}
h1 {
  font-family: Infected;
  text-align: center;
}
figure {
  margin-left: 0;
  margin-bottom: 0;
}
h2 {
  margin: 1em 0 0 0;
}
@media (max-width:600px) {
  #container3js {
    max-height: 400px;
  }
}


@media (min-width:1200px) {
  summary {
    display: none;
  }
  h2 {
    margin: 0;
  }
  main, footer {
    width: 1200px;
    max-width: 1200px;
  }
  aside {
    float: right;
    width: 400px;
    padding-left:2em;
    margin-left:800px;
    position:absolute;
  }
  figure {
    max-width: 800px;
    width: 800px;
  }
  figure .placeholder {
    max-width: 800px;
  }

}

.ct-line.thin {
  stroke-width:1px;
}

#r0-chart .ct-area {
  fill-opacity:1;
}

#r0-chart .ct-series-a .ct-area {
  fill: #feadae;
  /*stroke: #AAA;*/
}

#r0-chart .ct-series-b .ct-area {
  fill: white;
  /*stroke: #AAA;*/
}

#r0-chart .ct-series-c .ct-line {
  stroke: #d70206;
  stroke-width:3px;
}
#r0-chart .ct-series-d .ct-line {
  stroke: #000;
  stroke-width: 1px;
}

#news-coverage-chart .ct-series-a .ct-line, #news-coverage-chart .ct-series-c .ct-line {
  stroke-width:1px;
  opacity:0.3;
}
#news-coverage-chart .ct-series-a .ct-point, #news-coverage-chart .ct-series-c .ct-point {
  stroke-width:5px;
  opacity:0.3;
}
#news-coverage-chart .ct-series-b .ct-point, #news-coverage-chart .ct-series-d .ct-point {
  display:none;
}

#news-coverage-chart .ct-series-a *, #news-coverage-chart .ct-series-b * {
  stroke: rgb(140, 35, 38) !important;
}

#news-coverage-chart .ct-series-c *, #news-coverage-chart .ct-series-d * {
  stroke: #E41F1F !important;
}

ul.news-legend {
  margin-top: 0;
}
ul.news-legend li {
  display: inline;
  margin-right: 0 1em;
  padding: 0 1em;
  font-weight: bold;
  color: white;
}
li.novinky {
  background-color: rgb(140, 35, 38);
}
li.idnes {
  background-color: #E41F1F;
}

#vaccination-chart .ct-line { stroke: #000 !important; stroke-width: 1px; }

#vaccination-gauges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#vaccination-gauges div.ageGaugeContainer {
  min-width:120px;
  width:120px;
  height:80px;
  margin: 6px;
}

#vaccination-gauges h3 {
  text-align: center;
  position: relative;
  top:-120px;
}

#vaccination-gauges span {
  text-align: center;
  display:block;
  position: relative;
  top:-146px;
}

#vaccination-gauges .ct-series-b .ct-slice-donut {
  stroke: #f3c5c1;
}

#container3js {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0;
}

#vizRange {
  width:100%;
  visibility: hidden;
}

#vizDate {
  text-align: right;
  height: 0;
  overflow: visible;
  z-index: 1;
  font-size: 175%;
  font-weight: bold;
}

span.dose {
  display: inline-block;
  width:8px;
  height:8px;
  border-radius:2px;
  border:1px solid grey;
  background-color: red;
}
span.dose.one {
  background-color: #faa;
}

.square {
  width: 7px;
  height: 7px;
  rx: 2px;
  ry: 2px;
  stroke: 'grey';
}

.square.dose0 {
  fill: white;
  stroke: #ccc;
}

.square.dose1 {
  fill: #faa;
  stroke: #faa;
}

.square.dose2 {
  fill: red;
  stroke: red;
}

.square.dose1.new {
  animation: new1 1s infinite ease-in-out;
}

.square.dose2.new {
  animation: new2 1s infinite ease-in-out;
}

@keyframes new1 {
    0% { fill: white; stroke: #ccc; }
    50% { fill: #faa; stroke: #faa; }
    100% { fill: white; stroke: #ccc; }
}

@keyframes new2 {
    0% {  fill: #faa; stroke: #faa; }
    50% { fill: red; stroke: red; }
    100% {  fill: #faa; stroke: #faa; }
}

#container3js .placeholder {
  background: linear-gradient(rgba(255,255,255, 0.8), rgba(255, 255, 255, 0.8)), url(public/3d-placeholder.png);
  height: inherit;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

a.button{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid black;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  text-align:center;
  transition: all 0.2s;
  margin:0.4em auto;
  cursor:pointer;
  background-color: white;
}
a.button:hover{
  color:white;
  background-color:black;
}

a.button{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid black;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  text-align:center;
  transition: all 0.2s;
  margin:0.4em auto;
  cursor:pointer;
  background-color: white;
}

a.button.triggered{
  cursor: progress;
  background-color: grey;
}
